<%= image_tag @profile.avatar.url(:thumb) %>
<p>
<<<<<<< HEAD
  <strong>Name: </strong>
  <%= @profile.name%>
</p>
<p>
  <strong>Gender: </strong>
  <%= @profile.gender %>
</p>
<p>
  <strong>Age: </strong>
  <%= @profile.age %>
</p>
<p>
  <strong>Contact: </strong>
  <%= @profile.contact %>
</p>
<p>
  <strong>City: </strong>
  <%= @profile.city %>
</p>
<p>
  <strong>State: </strong>
  <%= @profile.state %>
</p>
<p>
  <strong>Country: </strong>
  <%= @profile.country %>
</p>
<p>
  <strong>Zip Code: </strong>
  <%= @profile.zipcode%>
</p>


=======
  <strong>Name:</strong>
  <%= @profile.name%>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>
<p>
  <strong>Mobile:</strong>
  <%= @profile.mobile %>
</p>
<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>
<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>
<p>
  <strong>Hobbies:</strong>
  <%= @profile.hobbies%>
</p>
<%= image_tag @profile.image.url(:thumb) %>
<br><br>
<% @profile.avatars.each do |img| %>
  <%= image_tag img.url(:thumb) %>
<% end %>
>>>>>>> cfb847500bd5f83b7cd2c0e634a3f79cb74b9616

<%= link_to 'Edit', edit_profile_path(@profile) %> |
