<div class="col-md-2 col-md-offset-2"></div>

<div class="col-md-8">
  <br>
  <div class="post-form">
    <%= form_for(:post, url: posts_path , method: :POST) do |f| %>
      <%= f.hidden_field :user_id %>
      <%= f.text_area :post_detail, class: 'form-control' %>
      <br>
      <%= f.submit 'Publish Post', class: 'btn btn-primary form-control' %>
    <% end %>
  </div>
  <br>
  <div class="all-posts">
    <% @posts.each do |post| %>
      <div class="post">
        <p>
          <%= post.post_detail%>
          <span>
           <%if post.user_id == current_user.id %>
             <%= link_to 'Edit', edit_post_path(post) %> | 
             <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> |
           <% end %>
            <%= link_to 'Comments', for_post_comments_path(post_id: post.id) %>
          </span>
        </p>
      </div>
    <% end %>
  </div>
</div>
